{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2,4, {"SwitchCase": 1}],
        "id-length": 0,
        "func-names": 0,
        "spaced-comment": 0,
        "no-unused-expressions": 0,
        "one-var": 0,
        "strict": 1,
        "react/jsx-indent": 0,
        "import/no-extraneous-dependencies": 0,
        "react/jsx-filename-extension": 0,
        "new-cap": 0,
        "linebreak-style": 0
    }
}
